<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin :: All Categories</title>
</head>
<body>
<div class="header">
  <div><a href="/subcategories">+</a> </div>
</div>
<div th:each="c : ${category}" style="display: flex">
    <div th:text="${c.id} + ': '"></div>
    <div th:text="${c.name}"></div>
</div>
<div>
    <form th:action="@{/categories}" th:object="${categoryData}" method="POST">
        <input type="text" placeholder="Category name" th:field="*{name}">
        <input type="submit" value="Add">
    </form>
</div>

</body>
</html>