<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/noteRegistration}" th:object="${noteData}" method="POST">
    <div><input type="text" placeholder="Title" th:field="*{title}"></div>
    <div><input type="text" placeholder="The Note" th:field="*{personalNote}"></div>
    <select th:field="*{user.id}">
        <th:block th:each="u : ${users}">
            <option th:value="${u.id}" th:text="${u.name}"></option>
        </th:block>
    </select>
    <div><input type="submit" value="Register!"></div>
</form>
</body>
</html>