<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="display: flex;">
    <div style="margin-left: 10px">
        <a href="/_admin/noteRegistration/">All</a>
    </div>
    <div th:each="cat : ${categories}" style="margin-left: 10px">
        <a th:href="'/noteRegistration/' + ${cat.id}" th:text="${cat.name}"></a>
    </div>
</div>
<form th:action="@{/noteRegistration}" th:object="${noteData}" method="POST">
    <div><input type="text" placeholder="Title" th:field="*{title}"></div>
    <div><input type="text" placeholder="The Note" th:field="*{personalNote}"></div>
    <select th:field="*{user.id}">
        <th:block th:each="u : ${user}">
            <option th:value="${u.id}" th:text="${u.firstName + ' ' + u.lastName}"></option>
        </th:block>
    </select>
    <select th:field="*{category.id}">
        <th:block th:each="c : ${category}">
            <option th:value="${c.id}" th:text="${c.name}"></option>
        </th:block>
    </select>
    <div><input type="submit" value="Register!"></div>
    <div th:each="n : ${note}">
        <div th:text="${n.id}"></div>
        <div th:text="${n.user.firstName}"></div>
        <div th:text="${n.user.lastName}"></div>
        <div th:text="${n.title}"></div>
        <div th:text="${n.personalNote}"></div>
    </div>
</form>
</body>
</html>